@import url("reset.css");

body{
    margin: 0 auto;
}

/* ------Main------------------------------- */
.frame{
    width: 1200px;
    height: 1653px;
    border-left: 4px solid #f6f6f6;
    border-right: 4px solid #f6f6f6;
    border-bottom: 4px solid #f6f6f6;
    margin: 0 auto;
    margin-bottom: 200px;
    position: relative;
}

/* ------Header-------------- */
.frame h1{
    position: absolute;
    top: -82px;
    left: 18px;
}

.frame h2{
    position: absolute;
    top: 265px;
    right: -196px;
    transform: rotate(90deg);
}

.frame video{
    position: absolute;
    top: 84px;
    right: 77px;
}

.title_logo{
    width: 100x;
    height: 129px;

    position: absolute;
    top: 45px;
    left: 100px;
}

/* ------Newspaper----------- */
.frame ul{
    width: 1200px;
    height: 1590px;
    margin-top: 70px;
    /* border: 1px solid red; */
    position: relative;
}

.frame ul li{
    font-size: 40px;
    position: absolute;
}

.frame ul > img:hover{
    transition: 1s;
    transform: scale(1.2);
}

.reservation{
    top: 637px;
    left: -2px;
    z-index: 1;
}

.ri{
    position: absolute;
    top: 220px;
    left: -1px;
}

.isolata{
    top: 716px;
    left: 296px;
    z-index: 1;
}

.ii{
    position: absolute;
    top: 718px;
    left: 296px;
}

.overhear{
    top: 848px;
    right: 3px;
    z-index: 1;
}

.oi{
    width: 372px;
    position: absolute;
    top: 637px;
    right: 0;
}

.artists{
    top: 929px;
    left: 124px;
    z-index: 1;
}

.ai{
    position: absolute;
    top: 931px;
    left: 63px;
}

.contact{
    top: 1177px;
    right: 100px;
    z-index: 3;
}

.ci{
    position: absolute;
    top: 884px;
    right: 90px;
    z-index: 2;
}

.solo{
    top: 1336px;
    left: 184px;
    z-index: 1;
}

.si{
    position: absolute;
    top: 1162px;
    right: 452px;
}

.about{
    top: 1617px;
    right: 96px;
    z-index: 1;
}

.abi{
    position: absolute;
    top: 1446px;;
    right: -3px;
}

/* ------Sqare--------------- */
.frame > div{
    background-color: #f6f6f6;
}

.s_top{
    width: 175px;
    height: 175px;

    position: absolute;
    top: 545px;
    left: 296px;
}

.s_right{
    width: 262px;
    height: 237px;

    position: absolute;
    top: 1213px;
    right: 193px;
}

.s_left{
    width: 306px;
    height: 285px;

    position: absolute;
    top: 1372px;
    left: 100px;
}

/* ------Arrow--------------- */
.left{}

.right{}

.down{}