@import url("reset.css");

body{
    background-color: black;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #f6f6f6;
}

h1{
    font-size: 96px;
}

h2{
    font-size: 96px;
}

h3{
    font-size: 64px;
}

h4{
    font-size: 48px;
}

a{
    text-decoration: none;
    color: #f6f6f6;
}
/* -------------Header------------ */
header{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

header h1{
    position: absolute;
    top: -13px;
    /* left: -3px; */

     /* Animation */
     opacity: 0;
     animation-name: ovhH1Animation;
     animation-delay: 1s;
     animation-duration: 2s;
     animation-timing-function: ease;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
 }
 
 @keyframes ovhH1Animation{
     from{
         opacity: 0;
         left:1200px;
     }
 
     to{
         opacity: 1;
         left:-3px;
     }
}

header h3{
    width: 256px;
    max-width: 100%;
    position: absolute;
    top: 320px;
    /* right: 95px; */

     /* Animation */
     opacity: 0;
     animation-name: ovhH3Animation;
     animation-delay: 1s;
     animation-duration: 2s;
     animation-timing-function: ease;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
 }
 
 @keyframes ovhH3Animation{
     from{
         opacity: 0;
         right:1200px;
     }
 
     to{
         opacity: 1;
         right:95px;
     }
}

header p{
    font-size: 36px;
    text-align: right;

    position: absolute;
    bottom: 115px;
    right: 0px;

    /* Animation */
    opacity: 0;
    animation-name: ovhPAnimation;
    animation-delay: 2.5s;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes ovhPAnimation{
    from{opacity: 0;}

    to{opacity: 1;}
}

header img{
    max-width: 100%;
    z-index: -1;
    position: absolute;
    bottom: 120px;

    /* Animation */
    opacity: 0;
    animation-name: ovhIAnimation;
    /* animation-delay: 1s; */
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes ovhIAnimation{
    from{opacity: 0;}

    to{opacity: 1;}
}

/* -------------Burger Menu---------------- */
.fprint{
    width: 224px;
    position: fixed;
    top: 70px;
    right: 70px;
    z-index: 2;
}

.fprint a{
	font-size: 16px;
    color:#5e5c5c;
    text-decoration: none;
    
    margin-left:10px;
    }

.fprint a:hover{
    color: #f6f6f6;
}
    
.fprint p{
	font-size: 16px;
    color:#5e5c5c;
    text-decoration: none;
    display: inline-block;
    }

.fprint span:hover{
    color: #f6f6f6;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f6f6f6;
}

.sidenav .closebtn {
  position: absolute;
  top: 65px;
  right: 80px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* ---------Shows-------------------- */
section{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    opacity: 0;
}

.overhearShowAppear{
    /* Animation */
    animation-name: ovhShowAnimation;
    /* animation-delay: 1s; */
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes ovhShowAnimation{
    from{opacity: 0;}

    to{opacity: 1;}
}

.show1{
    font-size: 36px;

    position: absolute;
    left: 90px;
    top: 2px;

     opacity: 0.5;
}

.show1:disabled{
    pointer-events: none;
}

.show2{
    font-size: 36px;

    position: absolute;
    bottom: 9px;
    right: 220px;
}

section p{
    font-size: 46px;
    text-align: center;
}

.show1-b{
    position: absolute;
    left: 0px;
    top: 15px;
    z-index: -1;
}

.show2-b{
    transform: scaleX(-1);
    position: absolute;
    right: 0px;
    top: 15px;
    z-index: -1;
}

/* ---------Navigation---------------- */
.btt{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    /* margin-left: 120px; */
}

.btt li{
    display: block;
    text-align: center;
    
}

.btt li a{
    color: #f6f6f6;
    opacity: 0.6;
    font-size: 36px;
    text-decoration: none;
}

.btt li a:hover{
    opacity: 1;
}

.btt li img{
    width: 78.18px;
    /* height: 90px; */

    margin-top: 10px;
}

/* -----------Footer--------------------------- */

footer{
    width: 1200px;
    margin: 0 auto;
    /* margin-left: 120px; */

    position: relative;
}

.cca_logo{
    width: 294px;
    /* height: 55px; */

    position: absolute;
}

.sab_logo{
    width: 80px;
    /* height: 55px; */

    position: absolute;
    left: 30%;
}

.media>ol{
    margin-right: 77px;  
}

.media li a{
    display: inline-block;
    float: right;
    margin-left: 10px;
    opacity: 0.6;
}

.media li a:hover{
    transition: 1s;
    transform: scale(1.2);
    opacity: 1;
}

.media li img{
    width: 51px;
    /* height: 51px; */
    margin-bottom: 30px;
    z-index: 1;
    
}

footer p{
    color: #f6f6f6;
    font-size: 12px;

    position: absolute;
    left: 48%;
    top: 35px;
}

/* ---------Media Query------------------------------------- */
@media screen and (max-width: 1219px){
    body{
        max-width: 100%;
    }

    /* --------Burger Menu----- */
    .fprint{
       top: 17vw;
       right: -10vw;
    }
    .fprint a{
        display: none;
        }
        
    .fprint a+p{
        display: none;
        }

    /* ---------Header--------- */
    header{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 50px;
    }

    header h1{
        font-size: 17vw;
        position: static;
        text-align: center;
        order: 1;
    }

    header h3{
        font-size: 8vw;
        position: static;
        order: 3;
        text-align: center;
        margin: 20px auto;
    }
    
    header p{
        position: static;
        font-size: 5vw;
        text-align: center;
        order: 4;
        margin: 0 auto 20px;
    }
    
    header img{
        max-width: 100%;
        z-index: -1;
        position: static;
        display: block;
        margin: 0 auto;
        order: 2;
    }

    /* ---------Section--------- */
    section{
        max-width: calc(100% - 50px);
    }

    .show1{
        vertical-align: middle;
        font-size: 2.5vw;
        position: static;
        opacity: 0.5;
        display: inline-block;
        text-align: center;
        margin-left: 14vw;
    }
    
    .show2{
        vertical-align: middle;
        font-size: 2.5vw;
        position: static;
        display: inline-block;
        text-align: center;
        margin-left: 10vw;
    }
    
    section p{
        vertical-align: top;
        display: inline-block;
        margin: 0 11%;
        font-size: 3vw;
    }

    .show1-b{
        max-width: 40%;
        left: 5%;
    }

    .show2-b{
        max-width: 40%;
        right: 5%;
        /* top: 93px; */
    }

    /* --------Nav-------------- */
    .btt{
        max-width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .btt li{
        display: block;
        text-align: center;
    }
    
    .btt li a{
        color: #f6f6f6;
        opacity: 0.6;
        font-size: 3vw;
        text-decoration: none;
    }
    
    .btt li img{
        width: 10%;
        margin-top: 10px;
    }

    /* ---------Footer---------- */

    footer{
        max-width: calc(100% - 10%);

    }

    .cca_logo{
        max-width: 24vw;
        /* margin-top: 16px; */
    }

    .sab_logo{
      max-width: 6vw;  
    }


    .media li a img{
        max-width: 6vw;
        /* margin-bottom: 0;
        margin-top: 7px; */
    }

    footer p{
        left: 40%;
    }
}
/* --------------843px------------------------------------ */
@media (max-width: 845px){
    footer p{
        left: 0;
        /* left: 10vw; */
        top: 7vh;
    }
}

/* --------------415px------------------------------------ */
@media screen and (max-width: 415px){
    body{
        max-width: 100%;
    }

    /* --------Burger Menu----- */
    .fprint{
        top: 60px;
        right: -190px;
    }
    .fprint a{
        display: none;
        }
        
    .fprint a+p{
        display: none;
        }

    .sidenav .closebtn {
        top: 50px;
        right: 0px;
    }

    /* ---------Header--------- */
    header{
        max-width: 100%;
        height: 450px;
        margin-bottom: 20px;
    }

    header h1{
        font-size: 16vw;
        position: static;
        text-align: center;
    }

    header h3{
        font-size: 12vw;
        right: 27%;
        /* position: static; */

    }
    
    header p{
        font-size: 5vw;
        /* position: static; */
        top: 400px;
        right: 5%;
        text-align: center;
    }
    
    header img{
        max-width: 100%;
        z-index: -1;
        position: static;
    }

    /* ---------Section--------- */
    section{
        max-width: 100%;
    }

    .show1{
        font-size: 7vw;
        position: static;
         opacity: 0.5;
         display: block;
         text-align: center;
         margin: 50px;
    }
    
    .show2{
        font-size: 7vw;
        position: static;
        display: block;
        text-align: center;
        margin-left: 0;
    }
    
    section p{
        display: none;
    }

    .show1-b{
        max-width: 80%;
        left: 10%;
    }

    .show2-b{
        max-width: 80%;
        right: 10%;
        top: 93px;
    }

    /* --------Nav-------------- */
    .btt{
        max-width: 100%;
    }

    .btt li{
        display: block;
        text-align: center;
    }
    
    .btt li a{
        color: #f6f6f6;
        opacity: 0.6;
        font-size: 4vw;
        text-decoration: none;
    }
    
    .btt li img{
        width: 10%;
        margin-top: 10px;
    }

    /* ---------Footer---------- */

    footer{
        max-width: 100%;

        /* position: static; */
    }

    .cca_logo{
        /* max-height: 3vh; */
        left: 5%;
    }

    .sab_logo{
        /* max-height: 3vh; */
        left: 42%;
    }

    .media{
        margin-right: 5%;
    }

    .media li a{
        /* display: inline; */
        margin-left: 10px;
        opacity: 1;
    }

    .media li img{
        max-height: 3vh;
        margin-bottom: 0px;
        z-index: 1;
        
    }

    footer p{
        /* display: none; */
        left: 12%;
        /* transform: translateX(-50%); */
        top: 4vh;
        font-size: 2vw;
    }
}
