/* ---------Media Query------------------------------------- */
@media screen and (max-width: 1219px){
    body{
        max-width: 100%;
    }

    /* --------Burger Menu----- */
    .fprint{
       top: 17vw;
       right: -10vw;
    }
    .fprint a{
        display: none;
        }
        
    .fprint a+p{
        display: none;
        }

    /* ---------Header--------- */
    header{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 50px;
    }

    header h1{
        font-size: 17vw;
        position: static;
        text-align: center;
        order: 1;
    }

    /* ---------Headshot-------- */
    .headshot{
        max-width: 100%;
        max-height: 90vh;
        box-sizing: border-box;
        display: flex;
    }

    .headshot img{
        position: static;
        max-width: 100%;
    }

    /* -----------Description-----------------------*/
    main{
        max-width: 100%;
        box-sizing: border-box;
    }

    /* -----------Torien--------------------------- */
    #torien{
        max-width: 100%;
        display: flex;
    }

    #torien img{
        max-width: 100%;
    }

    #torien article{
    }

    #torien h3{
        font-size: 2vw;
    }

    #torien p{
        width: 400px;
        height: 250px;
        font-size: 16px;
        line-height: 1.6;
    }

    /* -----------Amberlin------------------------- */
    #amberlin{
        width: 1200px;
        height: 500px;
        margin: 0 auto;
        /* border: 2px solid white; */

        display: flex;
    }

    #amberlin img{
        opacity: 0.6;
        width: 600px;
        height: 369px;
        margin: auto 30px;

        transition: 1s;
    }

    #amberlin img:hover{
        transform: rotateY(-45deg);
        transition-timing-function: ease-out;
    }

    #amberlin article{
        margin: auto 70px;
    }

    #amberlin h3{
        text-align: center;
        margin-bottom: 20px;
    }

    #amberlin p{
        line-height: 1.6;
        font-size: 16px;
    }

    /* --------Nav-------------- */
   .btt{
    max-width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    }

    .btt li{
        display: block;
        text-align: center;
    }

    .btt li a{
        color: #f6f6f6;
        opacity: 0.6;
        font-size: 3vw;
        text-decoration: none;
    }

    .btt li img{
        width: 10%;
        margin-top: 10px;
    }

    /* ---------Footer---------- */

    footer{
        max-width: calc(100% - 10%);

    }

    .cca_logo{
        max-width: 24vw;
        /* margin-top: 16px; */
    }

    .sab_logo{
    max-width: 6vw; 
    }


    .media li a img{
        max-width: 6vw;
        /* margin-bottom: 0;
        margin-top: 7px; */
    }

    footer p{
        left: 40%;
    }
}

/* --------------843px------------------------------------ */
@media (max-width: 845px){
    footer p{
        left: 0;
        /* left: 10vw; */
        top: 7vh;
    }
}

/* --------------415px------------------------------------ */
@media screen and (max-width: 415px){
    body{
        max-width: 100%;
    }

    /* --------Burger Menu----- */
    .fprint{
        top: 60px;
        right: -190px;
    }
    .fprint a{
        display: none;
        }
        
    .fprint a+p{
        display: none;
        }

    /* ---------Header--------- */
    header{
        max-width: 100%;
        height: 450px;
        margin-bottom: 20px;
    }

    header h1{
        font-size: 16vw;
        position: static;
        text-align: center;
    }

    header h3{
        font-size: 12vw;
        right: 27%;
        /* position: static; */

    }
    
    header p{
        font-size: 5vw;
        /* position: static; */
        top: 400px;
        right: 5%;
        text-align: center;
    }
    
    header img{
        max-width: 100%;
        z-index: -1;
        position: static;
    }

    /* ---------Section--------- */
    section{
        max-width: 100%;
    }

    .show1{
        font-size: 7vw;
        position: static;
         opacity: 0.5;
         display: block;
         text-align: center;
         margin: 50px;
    }
    
    .show2{
        font-size: 7vw;
        position: static;
        display: block;
        text-align: center;
        margin-left: 0;
    }
    
    section p{
        display: none;
    }

    .show1-b{
        max-width: 80%;
        left: 10%;
    }

    .show2-b{
        max-width: 80%;
        right: 10%;
        top: 93px;
    }

    /* --------Nav-------------- */
    .btt{
        max-width: 100%;
    }

    .btt li{
        display: block;
        text-align: center;
    }
    
    .btt li a{
        color: #f6f6f6;
        opacity: 0.6;
        font-size: 4vw;
        text-decoration: none;
    }
    
    .btt li img{
        width: 10%;
        margin-top: 10px;
    }

    /* ---------Footer---------- */

    footer{
        max-width: 100%;

        /* position: static; */
    }

    .cca_logo{
        /* max-height: 3vh; */
        left: 5%;
    }

    .sab_logo{
        /* max-height: 3vh; */
        left: 42%;
    }

    .media{
        margin-right: 5%;
    }

    .media li a{
        /* display: inline; */
        margin-left: 10px;
        opacity: 1;
    }

    .media li img{
        max-height: 3vh;
        margin-bottom: 0px;
        z-index: 1;
        
    }

    footer p{
        /* display: none; */
        left: 12%;
        /* transform: translateX(-50%); */
        top: 4vh;
        font-size: 2vw;
    }
}